.card-container {
  display: flex;
  flex-direction: row;  /* Align children horizontally */
  justify-content: center;  /* Center children horizontally */
  align-items: center;  /* Center children vertically */
  height: 100vh;  /* Set the container height to fill the viewport */
  margin: 0;
  padding: 0;
  background-color: #373737;
}