.Skill-container{
    background-color: #373737;
    height: 100vh; 
    margin: 0;
    display: flex;
    /* justify-content: center; */
    overflow-y: auto;
}

.Skills {
  background-color: #373737;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  column-gap: 10px;
  padding: 20px; 
  justify-content: center; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto; 
}
