.Skill-container{
    background-color: #373737;
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills {
  background-color: #373737;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  place-items: center;
  column-gap: 50px;
  row-gap: 50px;
}
