.certificate-card{
    height: 200px;
    width: 300px;
    background: #373737;
    box-shadow: 0 0 10px 5px rgba(127, 126, 126, 0.5); 
    margin: 20px;
    text-align: center;
    border-radius: 3%;
    border-color: #ccc;
    color: white;
    padding: 20px 20px 0px 20px;
    transition: box-shadow 0.3s ease;
  }
  

  .certificate-card:hover {
    box-shadow: 0 8px 16px rgba(204, 204, 204, 0.5);
}